@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,400&display=swap');

/* override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
}

body {
    /* override default body margin */
    margin: 0;
    /* push footer to bottom with flex properties */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
}

.hidden-heading {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header and Navbar */
header {
    background-color: #dddddd;
    /* Fix header bar to the top of the viewport and make it 
       appear as a rounded rectangle */
    position: fixed;
    z-index: 99;
    left: 8px;
    right: 8px;
    top: 8px;
    border-radius: 5px;
    /* stick logo to the left and navbar to the right of the header */
    display: flex;
    justify-content: space-between;
    padding: 0 .5em;
}

nav>ul {
    margin: .5em 0;
    /* list items horizontally with gap */
    display: flex;
    align-items: center;
    gap: 8px;
    list-style-type: none;
}

#nav-gallery-icon {
    font-size: 2rem;
}

#nav-newsletter-button {
    background-color: green;
    padding: 10px;
    border-radius: 5px;
}

/* Main element */
main {
    /* enlarge main section to push footer to bottom */
    flex: 1 0 auto;
}

/* Hero Section */
#hero {
    background: url(../images/hero-2.webp) no-repeat center center/cover;
    height: 60vh;
    position: relative;
}

#hero-title {
    background-color: rgba(100, 100, 100, .8);
    position: absolute;
    top: 120px;
    right: 0;
    text-align: right;
    width: 75vw;
    color: #dddddd;
    padding-right: 2rem;
    border-radius: 5px 0 0 5px;
}

/* Differences Section */
#differences {
    margin-top: 20px;
}

#differences>h2 {
    font-size: 2em;
    text-align: center;
}

#differences>div {
    background-color: purple;
    padding: 1rem;
    margin: 5px;
    border-radius: 5px;
}

#img-clickball-racket>img {
    width: 100%;
}

/* Timeline Section */
#timeline-vertical-container {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

#timeline-line {
    flex-grow: 8;
}

#timeline-events {
    background-color: purple;
    border-radius: 5px;
    padding: 1rem;
    flex-grow: 2;
}

#timeline-events img {
    width: 100%;
}