body {
    /* override default body margin */
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header and Navbar */
header {
    background-color: purple;
    /* Fix header bar to the top of the viewport and make it 
       appear as a rounded rectangle */
    position: fixed;
    z-index: 99;
    left: 8px;
    right: 8px;
    top: 8px;
    border-radius: 5px;
    /* stick logo to the left and navbar to the right of the header */
    display: flex;
    justify-content: space-between;
    padding: 0 .5em;
}

nav>ul {
    margin: .5em 0;
    /* list items horizontally with gap */
    display: flex;
    align-items: center;
    gap: 8px;
    list-style-type: none;
}

#nav-gallery-icon {
    font-size: 2rem;
}

#nav-newsletter-button {
    background-color: green;
    padding: 10px;
    border-radius: 5px;
}

/* Hero Section */
#hero {
    background: url(../images/hero.webp) no-repeat center center/cover;
    height: 60vh;
}